/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg_img_dark: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --accent-color-transparent: #FF007066;
  --bg-color: #000028;
  --accent-color-text: #F1B2CE;
  --title-color: #DB00FF;
}